<div *ngIf="postForm" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Write new post</h1>
      <form [formGroup]="postForm" (ngSubmit)="submit()">
        <h5 *ngIf="success">Sending...</h5>
        <div class="form-group">
          <label for="">Title</label>
          <input type="text" class="form-control"
          formControlName="title">
          <div *ngIf="submitted && postForm.controls.title.errors" class="text-danger">
            <div *ngIf="postForm.controls.title.errors.required">
              Title is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Category</label> <br>
          <div class="checkbox-inline" *ngFor="let c of category.controls; let i=index">
            <label>  <input [formControl]="c"
              (change)="getSelectedCategory()"
               type="checkbox">
               {{categories[i].name}}</label>
          </div>
          <div *ngIf="submitted && categoryError" class="bg-danger">Please select 1 Category!</div>
        </div>
        <div class="form-group">
          <label for="">Content</label> <br>
          <quill-editor [style]="editorStyle" [modules]="config" formControlName="content"></quill-editor>
        </div>
        <div class="form-group">
            <label for="">Tags</label>
            <input type="text" class="form-control"
            formControlName="tags">
          </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>

    </div>
  </div>

</div>
