<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Chatbot</h1>

      <ul *ngIf="messages">
        <li *ngFor="let x of messages">
          <strong>{{x.name}}:</strong> {{x.text}} <br>
          <span *ngIf="x.link">
            <a target="_blank" href="{{x.link}}">{{x.link}}</a>
          </span>
        </li>
      </ul>
      <form role="form" [formGroup]="chatForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text"
          class="form-control"
          formControlName="keyword"
          required="required"
          placeholder="question">
          <div *ngIf="submitted && chatForm.controls.keyword.errors" class="error">
              <div *ngIf="contactForm.controls.keyword.errors.required">Your question is required</div>
          </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>

    </div>
  </div>
</div>
