<div class="container">
  <div class="row">
    <div *ngIf="feedbacks" class="col-md-12">
      <h1>Feedback</h1>

      <table class="table">
        <thead>
          <th>Keyword</th>
          <th>isHelpful</th>
          <th>Message</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <tr *ngFor="let x of feedbacks.data">
            <td>{{x.keyword_id.name}}</td>
            <td>{{x.isHelpful}}</td>
            <td>{{x.message}}</td>
            <td><button (click)="delete(x.id)" class="btn btn-danger">X</button></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="btn-toolbar">
        <button class="btn btn-success" *ngIf="feedbacks.page > 1" (click)="nextPageFn(feedbacks.page -1)">Prev</button>
        <button class="btn btn-success" *ngIf="feedbacks.nextPage" (click)="nextPageFn(feedbacks.page + 1)">Next</button>
    </div>

    </div>
  </div>
</div>
