<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Create new responses.</h1>

      <form role="form" [formGroup]="responseForm" (ngSubmit)="onSubmit()">
        <h5 *ngIf="success">Your form is valid!</h5>
        <div class="form-group">
          <label for="comment">content:</label>
          <textarea class="form-control"
                    rows="2"
                    required="required"
                    formControlName="name">
          </textarea>
          <div *ngIf="submitted && responseForm.controls.name.errors" class="bg-warning">
              <div *ngIf="responseForm.controls.name.errors.required">this field is required</div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>

    </div>
  </div>
</div>
